<style>
.playlist_row {
    
}

.playlist_row img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.red_text {
  color: red;
}
</style>

<h1>Playlists</h1>

<div id="playlists">

{% for playlist in playlists %}
<div class="playlist_row">
  <img src="{{ playlist.image_url }}">
  <p>{{ playlist.name }}</p>
  <a href="{{ playlist.url }}">link</a>
  <table>
    {% for track in playlist.tracks %}
    <tr {% if not track.liked %}class="red_text"{% endif %}>
      <td>{{ track.name }}</td>
      <td>{{ track.uri }}</td>
    </tr>
    {% endfor %}
  </table>
{% endfor %}
</div>

<p>{{ test }}</p>
