{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} GustelFlasche Sätsch {% endblock %}</h1>
    <h2>Overview for {{ dict["display_name"] }}</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>managed</th>
        </tr>
        <form method="post">
            {% for playlist in dict["playlists"] %}
            <tr>
                <td>{{ playlist.get_name() }}</td>
                
                {% if playlist.is_managed() %}
                <td><input type="checkbox" id="ismanaged.{{ playlist.get_id() }}" value="{{ playlist.get_id() }}" checked></td>
                {% else %}
                <td><input type="checkbox" id="ismanaged.{{ playlist.get_id() }}" value="{{ request.form["playlist."+playlist.get_id()] }}"></td>
                {% endif %}
            </tr>
            {% endfor %}
            <input type="submit">
        </form>
        <a>{{ dict["changes"] }}</a>

    </table>
{% endblock %}